body{
    color: $secondary-color;
    font-family: 'Roboto', sans-serif;
    margin:0;
    background-color: $primary-color;
    font-size: $base-font-size;
    overflow-x: hidden;
}

/* Lists */
ul{
    list-style: none;
    padding-left: 0;
}

/* Headings */
h1, h2, h3, h4{
    font-family: 'Sarpanch', sans-serif;
    font-weight: 700;
}

h1{
    font-weight: 900;
    text-align: center;
}


.main-article{
    padding: $padding-small $padding-medium;
    max-width: 600px;
    margin: 0 auto;
}

.visually-hidden{
    @include visuallyhidden;
}

.no-button{
    border: none;
    background: none;
    padding: 0;
}
