.form-input{
    padding: $padding-medium $padding-medium;
    border:none;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    width: 100%;
}
.has-float-label{
    margin: $padding-medium;

}
.form-textarea{
    width: 100%;
}

.form-button{
    border: 1px solid $accent-color-dark;
    background-color: transparent;
    border-radius: 3px;
    padding: $padding-small $padding-medium;
    cursor: pointer;
    margin: $padding-medium 0;
}

.form-select{
    height: 40px;
    width: calc(100% - #{$padding-medium * 2});
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    margin: $padding-medium;
}
