<div class="consultation-list">

    <h2>Consultations</h2>

    <div *ngIf="loading" class="loader-container">
        <p class="loader">Loading consultations...</p>
    </div>

    <div *ngIf="!consultationsExistForSelectedDate && !loading">
        <p>No consultations found for {{selectedDate | date:'y-MM-dd'}}</p>
        <p>Showing all scheduled consultations</p>
    </div>

    <ul class="consultation-list__list">
        <li class="consultation-list__item" *ngFor="let consultation of consultations">
            <app-consultation-item [consultation]="consultation"></app-consultation-item>
        </li>
    </ul>

</div>
