<main>
    <header class="main-header">
        <div class="main-header__content">
            <h1 class="main-header__heading">
                MedBook
            </h1>

            <button *ngIf="showConsultationList" type="button" class="main-header__add-patient no-button"
                    (click)="addPatientClick()">
                <span>Add patient</span>
            </button>
            <button *ngIf="!showConsultationList" type="button" class="main-header__back no-button"
                    (click)="backClick()">
                <span>Back</span>
            </button>
        </div>

    </header>
    <article class="main-article">
        <div *ngIf="showConsultationList">
            <app-date-picker [selectedDate]="selectedDate" (onChange)="dateChanged($event)"></app-date-picker>
            <app-consultation-list [selectedDate]="selectedDate"></app-consultation-list>
        </div>

        <app-schedule-consultation (onPatientAdded)="patientAdded()"
                                   *ngIf="!showConsultationList"></app-schedule-consultation>
    </article>
</main>
