<div class="schedule-consultation">
    <h2 class="schedule-consultation__heading">Register patient</h2>
    <form class="schedule-consultation__form" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend class="visually-hidden">Patient</legend>

            <div class="">
                <label for="patient-name" class="has-float-label">
                    <input type="text" id="patient-name"
                           [(ngModel)]="model.patientName"
                           name="patientName"
                           class="form-input"
                           placeholder="Name of patient"
                           required/>
                    <span>Name</span>
                </label>
            </div>

            <div>
                <label for="patient-image" class="has-float-label">
                    <input type="text" id="patient-image"
                           [(ngModel)]="model.patientUrl"
                           class="form-input"
                           name="patientUrl"
                           placeholder="Full URL to image"
                           required/>
                    <span>Image</span>
                </label>
            </div>

            <div>
                <label for="patient-condition" class="visually-hidden">Condition</label>
                <select id="patient-condition" [(ngModel)]="model.selectedCondition" name="conditions" class="form-select" required>
                    <option disabled selected value> -- Select patient condition --</option>
                    <option *ngFor="let c of conditions" [ngValue]="c">{{c}}</option>
                </select>
            </div>

            <div>
                <button type="submit" class="form-button"><span>Save</span></button>
                <button type="button" class="form-button" (click)="onBackClick()"><span>Back</span></button>
            </div>

        </fieldset>

    </form>
</div>
